-#  This file is app/views/movies/index.html.haml
%h1 All Movies

%table#movies
  %thead
    %tr
      %th Movie Title
      %th Rating
      %th Release Date
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= link_to "#{movie.title}", movies_path({:sort_by => "title"})
        %td= movie.rating
        %td= link_to "#{movie.release_date}", movies_path({:sort_by => "release_date"})
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
= form_tag movies_path, :method => :get do
  Include: 
  - Movie.all_ratings.each do |rating|
    = rating
    = check_box_tag "ratings[#{rating}]", "1", params[:ratings]? params[:ratings].include?(rating) : false
  = submit_tag 'Refresh'
